html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    background-color: gray;
}

.visit-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    width: 75%;
    background-color: #0d0d0d;
    color: white;
}

h1 {
    letter-spacing: 1px;
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 100;
}

.circles {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.circle_1 {
    transform: translate(-45px, 60px);
    background-color: #0d0d0d;
    border: 1px solid #c3d8c7;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 3;
}

.circle_2 {
    background-color: #c3d8c7;
    border: 1px solid #c3d8c7;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    z-index: 1;
}

.circle_3 {
    transform: translate(45px, -60px);
    background-color: #0d0d0d;
    border: 1px solid #c3d8c7;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
}

.description {
    position: relative;
    font-weight: 450;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10vw;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.description::before {
    position: absolute;
    content: "03";
    left: -20px;  
}